body{
	background: #16171e;
	color:white;

}

#tag{
	color: #16171e;
	background:white; 
}

#slider{
	border: 2px solid red;
}

@font-face {
    font-family: Akrobat-Bold;
    src: url("C:/Users/Spalding/Desktop/app/Akrobat-Bold.otf") format("opentype");
}
