html {
    height: 100%;background: #2980b9; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2980b9, #6dd5fa, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
body{
	
	color:white;
	height: 100%;
	width: 100%;
background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

#nav{
	text-decoration-color: white;
	color:  white;
}

#tag{
	background: white;
	margin: 20px 20px;
	color:  #bdc3c7;
}

@font-face {
    font-family: Akrobat-Bold;
    src: url("C:/Users/Spalding/Desktop/app/Akrobat-Bold.otf") format("opentype");
}


.cel{
text-align:center;
}

#buttons{
	width: 100%;
	margin:0 auto;
	 align-items: center;
	 text-align: center;
}

button{
	display:inline-block;
}